.container {
  max-width: 1320px;
  margin: auto;
  padding-top: 30px;
}
.title {
  font-size: 24px;
  color: white;
}
.loading {
  text-align: center;
  padding-top: 50px;
  font-size: 30px;
  background-color: white;
}
