.header {
  padding: 19px 0px;
}
.container {
  max-width: 1270px;
  margin: auto;
}
.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.LogoNav {
  width: 570px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: white;
  font-family: Pacifico;
  font-size: 20px;
  cursor: pointer;
}
.item {
  display: flex;
  justify-content: space-between;
  width: 450px;
}
.item__list {
  transition: 0.2s;
  color: rgba(255, 255, 255, 0.514);
}
.item__list:hover {
  color: white;
}
.item__list:active {
  color: rgba(255, 255, 255, 0.514);
}
.search {
  width: 70px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s;
  color: rgba(255, 255, 255, 0.514);
}
.search:hover {
  color: white;
}
.search:active {
  color: rgba(255, 255, 255, 0.514);
}
.userSearch {
  display: flex;
  justify-content: space-between;
  width: 185px;
}
.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(255, 255, 255, 0.48);
  background-color: rgb(31, 27, 46);
  padding: 5px 12px 5px 6px;
  border-radius: 10px;
  width: 95px;
  position: relative;
  cursor: pointer;
  transition: 0.2s;
}
.user:hover {
  background-color: rgb(46, 40, 68);
}

.userImg {
  color: rgb(165, 161, 178);
  border-radius: 5px;
  background-color: rgb(62, 55, 88);
  padding: 8px;
  z-index: 2;
}
.textUser {
  font-size: 14px;
  color: white;
  z-index: 2;
}
